/* Main footer */ 

#footer {
    background: $footer;
    .main-footer {
        padding-top:30px;
        padding-bottom:30px;
        img {
            width:130px;
            }
    p {
        color: $footer-text;
        font-size: 12px;
        text-transform: uppercase;
        line-height: 24px;
    } 
    .company-info {
        text-transform: initial;
    }
}
.sub-footer {
    background: $sub-footer;
    padding-top: 15px;
    padding-bottom:15px;
    p {
        color:$white;
        margin-bottom:0;
        font-size: 14px;
    }
.social-media i {
    color:$white;
    margin-left: 40px;
    font-size: 26px;
}
}
}


