/* For all pages */ 
.container {
    max-width: 1300px;
}

h1 {
    font-size: 60px;
    font-weight: 700;
    font-family: $header-font;
}


h2 {
    font-size: 30px;
    font-weight: 700;
    font-family: $header-font;
    color: $primary-text;
}

h3 {
    font-size: 24px;
    font-weight: 700;
}

body {
    font-family: $body-font;
    color: $primary-text;
}

p {
    font-size: 1rem;
    line-height: 28px;
}


/* headline margin bottom */ 

.headline {
    margin-bottom:60px;
}

/* Form control */

.form-control {
    height: calc(3rem + 2px);
}

/* Padding section */ 

.section-padding {
    padding-top: 100px;
    padding-bottom: 100px;
}



/* join*/ 
.main-header {
    h1{
    .color-teal{
        color: $teal;
    }
    }
 }

.intro {
    background: $gray;
}

.join {
    .bullets {
    margin-top: 80px;
    i {
        background: #ED8536;
        border-radius: 50px;
        color: #fff;
        margin-top: 0px;
        width: 43px;
        height: 43px;
        line-height: 36px;
        padding-left: 13px;
        padding-top: 3px;
        margin-top: -10px;
        margin-right: 10px;
    }
}

    .d-flex {
    margin-bottom:.7rem;}
    
    .row {
    margin-bottom:50px;}

    .row:last-child {
    margin-bottom:0;}
}

/* Testimonials */ 
.testimonials {
    background: $gray;
    .boxes {
        margin-top:40px;
    }
    .row {
        margin-bottom:20px;
    }
    .box-tst {
        p {
            margin-bottom:40px;
        }
        .profile img {
            width:70px;
            height: 70px;
        }
        .profile-name {
            margin-top: 5px;
            margin-left: 20px;
            p {
                margin-bottom:0;
            }
        }
    }
}

/* Hub Dashboard Page */ 

.hub-boxes {
    .headline {
        margin-bottom: 50px;
    }
    .box-gray {
    margin-bottom: 30px;
 i {
    padding: 20px;
    background: $orange;
    width: 100px;
    height: 100px;
    line-height: 56px;
    padding-left: 25px;
    border-radius: 50px;
    color: $white;
    margin-top: -10px;
 }
}
}

/* HELP THE EXPERTS PAGE */

.experts {
    .card {
        border: 1px solid #EEEEEE;
        height: 100%;
        .card-head{
            padding:30px 0;
            img {
                width: 120px;
                margin-bottom:10px;
            }
            p {
                margin-bottom:0;
            }
        }
    }
}

.slack-join {
    background: $gray;
}

/* Help the experts people profile */ 

.experts-people {
    img {
        width:200px;
        margin-bottom:20px;
    }
}

.experts-faq {
        .accordion {
             .card {
             .card-header {
                 background: transparent;
             }
            border:0;
            background:transprent;
            .btn {
                color:$primary-text;
                font-weight: 700;
                font-size: 1.25rem;
    }
}
}
}

.other-experts {
    padding-bottom: 30px;
    .boxes {
        text-align:center;
        img {
            width: 120px;
            margin-bottom: 1rem;
        }
    }
}

/* Discounts page */ 

.discounts-intro {
    .intro-paragraph {
        margin-bottom: 100px;
    }
    select {
        -webkit-appearance: none;
        -moz-appearance: none;
        text-indent: 1px;
        text-overflow: '';
        margin-bottom:100px;
    }
     .arrow-item {
            background-image:
              linear-gradient(45deg, transparent 50%, #fff 50%),
              linear-gradient(135deg, #ffffff 50%, transparent 50%),
              linear-gradient(to right, #ED8536, #ED8536);
            background-position:
              calc(100% - 22px) calc(1em + 2px),
              calc(100% - 15px) calc(1em + 2px),
              100% 0;
            background-size:
              7px 7px,
              7px 7px,
              3em 3em;
            background-repeat: no-repeat;
        }
            .arrow-item:focus {
            background-image:
              linear-gradient(45deg, white 50%, transparent 50%),
              linear-gradient(135deg, transparent 50%, white 50%),
              linear-gradient(to right, gray, gray);
            background-position:
              calc(100% - 15px) 1em,
              calc(100% - 22px) 1em,
              100% 0;
            background-size:
            7px 7px,
            7px 7px,
            3em 3em;
            background-repeat: no-repeat;
            border-color: grey;
            outline: 0;
          }
    }
    .form-control {
        border:1px solid #9E9E9E;      
    
    }
    
.discounts-intro {
    .card {
        border: 0;
        margin-bottom: 20px;
        .card-image {
            padding:20px;
            height: 100px;
            display: flex;
            justify-content: center;
            align-items: center;
            img {
                width:120px;
            }
        }
        .card-title {
            font-weight: 700;
            margin-bottom:0;
        }
    }
}


/* Company Page */ 

.company-content {
    .box-gray {
        margin-top: 100px;
        h4 {
            margin-bottom:2rem;
        }
    i {
        margin-top: 4px;
        margin-right: 1rem;
        font-size: 20px;
    }
    .profile {
        margin-bottom:30px;
        img {
            width:70px;
            height: 70px;
        }
    .profile-name {
        margin-top: 5px;
        margin-left: 20px;
    p {
        margin-bottom:0;
    }
    }
    }
    }
}

/* Jargon Page */

.jargon-content {
    h3 {
        font-size: 50px;
        margin-top: 60px;
    }
}

/* Business in a box page */ 

.business-box {
     background: $darker-gray;
    .row {
        margin-bottom:20px;

     img {
        width: inherit;
        height: auto;
    }
    p {
        text-align: center;
        margin:20px auto;
    }
    h2 {
    &:nth-child(2) {
        margin-top: 50px;
    }
    }
}
}

@media (max-width:767px) {
    h1 {
        font-size: 36px;
    }
    h2 {
        font-size: 24px;
    }
    h3 {
        font-size: 21px;
    }

/* Home page join and testimonials */

.join, .testimonials {
    .row {
    margin-bottom:0;
    div {
        margin-bottom: 20px;
    }
 }
}

/* Dashboard/HUB Page */

.hub-boxes {
    .box-gray {
    margin-bottom: 10px;
    padding: 30px 15px;
 i {
    padding: 20px;
    background: #ED8536;
    width: 80px;
    height: 80px;
    line-height: 34px;
    padding-left: 20px;
    border-radius: 50px;
    color: #fff;
    margin-top: -10px;
    font-size: 36px;
 }
}
}

/* Help the experts Page */

.experts {
    .card {
        height: initial;
        margin-bottom: 20px;
    }
}

.slack-join {
    .col-lg-6{
    &:first-child {
        margin-bottom: 40px;
    }
    }
}

}