.nav-wrapper{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}

#main-menu {
    padding: 20px 15px;
    background-color: transparent;
    margin: 0 auto;
    width: 1300px;
      #logo {
        width: 150px;
    }
    .navbar-nav {
        .nav-item {
            .nav-link {
                color: $white;
                font-size: 14px;
                text-transform: uppercase;
                letter-spacing: 0.2px;
                padding-right: .7rem;
                padding-left: .7rem;
            }
        }
    }
  
}
.scrolled {
    background: #12b3c2 !important;
    transition: 0.3s;
    #logo {
        margin-top: -15px;
        margin-bottom: -15px;
        width: 100px !important;
    }
}