/* Theme colours */

$primary-text: #191717;
$secondary-text: #505050;
$white: #fff;
$teal: #19D5E6;
$gray: #F7F7F7;
$darker-gray:#F5F5F5;
$orange: #ED8536;
$footer: #3D4045;
$sub-footer: #464646;
$footer-text: #E3E3E3;